/* General Settings
*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}

/* Content
*/
.container {
    width: 260px;
    height: 400px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 245px;
    border-radius: 0.625rem;
}


.img {
    border-radius: 0.625rem;
    margin: 15px;
    width: 230px;   
}

.title {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: hsl(218, 44%, 22%);
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.describe {
    font-size: 13px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
    padding-left: 23px;
    padding-right: 23px;
}

/* Footer
*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }